<div class="container-fluid">
    <hr>
    <div class="text-center center-block">
        <p class="txt-railway">{{ title }}</p>
        <a href="https://github.com/erickangweisz" target="_blank"><i class="fa fa-github-square fa-3x social"></i></a>
        <a href="https://plus.google.com/107676615909159458888" target="_blank"><i class="fa fa-google-plus-square fa-3x social"></i></a>
        <a href="mailto:erickangweisz@gmail.com" target="_blank"><i class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
    <br>
</div>