<div class="container-fluid">
    <h3 class="text-center">{{ title }} <i class="fa fa-address-card-o" aria-hidden="true"></i></h3>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 offset-4">
                <button type="button" class="btn btn-primary btn-sm nav-link" routerLink="/users" routerLinkActive="active"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
                <div class="card">
                    <div *ngIf="user" class="card-block">
                        <br>
                        <div class="container text-center" *ngIf="user">
                            <br>
                            <h4 class="card-title">{{ user.name }}</h4>
                            <hr>
                            <p>ID: {{ user.id }}</p>
                            <hr>
                            <h6 class="card-subtitle mb-2 text-muted">ROLE: </h6>
                            <br>
                            <p *ngFor="let role of roles" class="card-subtitle mb-2 text-muted">{{ role.roleid | transRole }}</p>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>